:root {
  /* колір вторинного тексту #757575 */
  --primary-text-color: #757575;
  /* колір основного тексту #212121 */
  --title-text-color: #212121;
  /* колір для темного фону */
  --for-black-color: #000;
  --primary-bg-color: #fff;
  /* акцент #2196F3 */
  --accent-color: #2196f3;
}
body {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', 'Raleway', sans-serif;
  /* фон білий #FFFFFF */
  /* вторичний колір фону #2196F3 */
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}
/* Логотип */
.logo {
  font-family: Raleway;
  color: var(--accent-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
}
/* Шапка */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.auth-nav .link {
  color: var(--primary-text-color);
  font-weight: 500px;
  font-size: 14px;
  line-height: 1.143;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
/* .site-nav .studio {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
}
.site-nav .portfolio {
  position: absolute;
  width: 77px;
  height: 16px;
  left: 552px;
  top: 32px;
} */
/* Герой */
/* .hero {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;

  background: #2f303a;
} */
.hero-title {
  color: var(--for-black-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
}
.button-hero {
  color: var(--for-black-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
}
.button-hero:hover,
.button-hero:focus {
  background: var(--accent-color);
}
/* Унікальна частина */
.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.66667;
}
.button {
  color: var(--title-text-color);
  background: #f5f4fa;
  font-size: 16px;
  line-height: 1.625;
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: var(--primary-bg-color);
  background: var(--accent-color);
}
/* Переваги */
.feature-list .title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
}
.feature-list .text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.714;
}
/* Наші роботи */
.work-list .title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
}
.work-list .col {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.875;
}
/* Наша команда */
.team .title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.1875;
}
.team .spec {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.1875;
}
/* Підвал */
.footer-contact {
  color: var(--for-black-color);
  font-size: 14px;
  line-height: 1.714;
}
.footer-contact:hover,
.footer-contact:focus,
.footer-contact .mailto:hover,
.footer-contact .mailto:focus,
.footer-contact .tel:hover,
.footer-contact .tel:focus {
  color: var(--accent-color);
}
.footer-contact .mailto,
.footer-contact .tel {
  color: rgba(255, 255, 255, 0.6);
}
